@{
    ViewData["Title"] = "Contact Page";
}

<div class="navbar">
    <ul>
        <li><a asp-action="Index">Game</a></li>
        <li><a asp-action="News">News</a></li>
        <li><a asp-action="Contact" class="active-page">Contact</a></li>
        <li><a asp-action="OLink">Other Links</a></li>
    </ul>

</div>
<div class="centerBox">
    <p>
        Our team has known each other for only a short amount of time, starting to
        work together at the beginning of January 2021 being apart of the same
        class, or Cohort, of the Microsoft Software and Systems Academy.
    </p>
    <p>
        Instantly we found we shared alot of similar aspirations, and immediately
        found inspiration for a collaborative project we could work on together.
    </p>
    <p>
        Our project, Pixel Dungeon 5000.
    </p>
    <p>
        Please let us know what you think of it! We would love to hear
        from you.
    </p>

    <table>
        <th>
            Name:
        </th>
        <th>
            Role:
        </th>
        <th>
            Email:
        </th>

        <tr>
            <td>
                Andrew Hejl
            </td>
            <td>
                Developer, Web Design
            </td>
            <td>
                andrew.hejl@outlook.com
            </td>
        </tr>
        <tr>
            <td>
                Brandon Sundell
            </td>
            <td>
                Developer, Player Controls
            </td>
            <td>
                brandon.c.sundell@outlook.com
            </td>
        </tr>
        <tr>
            <td>
                Hanzel Gotia
            </td>
            <td>
                Developer, Scripting
            </td>
            <td>
                hanzelgotia@gmail.com
            </td>
        </tr>
        <tr>
            <td>
                Gabriel Hager
            </td>
            <td>
                Developer, Procedural Generation and Design
            </td>
            <td>
                gabriel.a.hager@outlook.com
            </td>
        </tr>
    </table>
</div>
<div class="footer">
    <p>Thank you for playing!</p>
</div>