@{
    ViewData["Title"] = "Home Page";
}

<div class="navbar">
    <ul>
        <li><a asp-action="Index" class="active-page">Game</a></li>
        <li><a asp-action="News">News</a></li>
        <li><a asp-action="Contact">Contact</a></li>
        <li><a asp-action="OLink">Other Links</a></li>
    </ul>

</div>
<div class="centerBox">
    <p>
        GAME IS A WIP // ONCE AN MVP IS ESTABLISHED WILL BE UPLOADED.<br />
        This site will be updated weekly // Check NEWS for updates and progress
    </p>
</div>
<div class="footer">
    <p>Thank you for playing!</p>
</div>
