@{
    ViewData["Title"] = "News Page";
}
<div class="navbar">
    <ul>
        <li><a asp-action="Index">Game</a></li>
        <li><a asp-action="News" class="active-page">News</a></li>
        <li><a asp-action="Contact">Contact</a></li>
        <li><a asp-action="OLink">Other Links</a></li>
    </ul>

</div>
<div class="newsBox">
    <div class="newsBlock">
        <h3>
            May 3rd, 2021: Pixel Dungeon Website Launch!
        </h3>
        <p>
            After the game has been in slow development over the course of our
            Microsoft Software and Systems Academy, we've decided to launch
            this website to showcase our progress for anyone interested!
        </p>
    </div>

</div>
<div class="footer">
    <p>Thank you for playing!</p>
</div>